extends templates/layouts/default.pug

block content
  h1.mt-4.mb-4.border-bottom= .PageTitle

  h2(data-monitoring-url=(urlpath "monitoring")) Processeur
  .row
    each _,_ in .Cpu
      .col-sm-6
        p Cœur {{ .Number }}
        .progress
          .progress-bar.progress-bar-striped.progress-bar-animated(
            role="progressbar"
            aria-valuenow=.Value
            aria-valuemin="0"
            aria-valuemax="100"
            data-cpu=.Number
            style=( print "width:" .Value "%")
          ) {{ printf "%.2f" .Value }}%

  h2.mt-4 Mémoire
  .row
    .col-md-3
      p
        | Libre :
        span(data-memory="available")  {{ .Memory.Available }}
        |  MB
    .col-md-6
      .progress
        .progress-bar.progress-bar-striped.progress-bar-animated(
          role="progressbar"
          aria-valuenow=.Memory.UsedPercent
          aria-valuemin="0"
          aria-valuemax="100"
          data-memory="used"
          style=( print "width:" .Memory.UsedPercent "%")
        ) {{ printf "%.2f" .Memory.UsedPercent }}%
    .col-md-3
      p 
        | Total :
        span(data-memory="total")  {{ .Memory.Total }}
        |  MB

  if .Temperature
    h2.mt-4 Température CPU
    .clearfix
      div(data-temperature="" class=(print "c100 p" .Temperature.CurrentPercent " " .Temperature.Color))
        span(title=(print .Temperature.Current "°c / " .Temperature.Max "°c"))
          | {{ .Temperature.Current }}°c

        .slice
          .bar
          .fill

  h2.mt-4 Systèmes de fichiers
  .table-responsive
    table.table
      thead
        tr
          th(scope="col") Périphérique
          th(scope="col") Montage
          th(scope="col") Usage
          th(scope="col") Utilisé
          th(scope="col") Libre
          th(scope="col") Total
      tbody
        each _,_ in .Disks
          tr
            td {{ .Device }}
            td {{ .Path }}
            td {{ .UsedPercent }}%
            td {{ .Used }} GiB
            td {{ .Free }} GiB
            td {{ .Total }} GiB

block append js
  script(src="/static/js/modules/monitoring.js")
