extends templates/layouts/default.pug

block content
  h1.mt-4.mb-4.border-bottom= .PageTitle

  .card.mb-4
    .card-header Effectuer une capture d'écran
    .card-body
      p.card-text Le bouton ci-dessous vous permet de prendre une capture d'écran de l'affichage actuel de recalbox.
      p.card-text Le résultat sera sauvegardé dans le dossier %s.
      p
        a.btn.btn-success(role="button" href=(urlpath "screenshots_take")) Faire une capture

  .card-columns
    each _ in .Images
      .card
        img.card-img-top(
          src=(print "//" $.Hostname ":" $.Port "/screenshots/viewer/" .)
          alt=.
        )
        a.btn.btn-danger.btn-sm.btn-delete-screenshot(
          data-toggle="modal"
          data-target="#confirmModal"
          data-message="Voulez-vous vraiment supprimer %s ?"
          data-message-arg=.
          href=(print "//" $.Hostname ":" $.Port "/screenshots/delete/" .)
        )
          i.fas.fa-trash-alt.fa-sm
        a.btn.btn-success.btn-sm.btn-view-screenshot(
          href=(print "//" $.Hostname ":" $.Port "/screenshots/viewer/" .)
          target="_blank"
        )
          i.fas.fa-search.fa-sm

  include templates/partials/confirm-modal.pug

block append js
  script(src="/static/js/modules/confirmModal.js")
