extends templates/layouts/default.pug

block content
  h1.mt-4.mb-4.border-bottom= .PageTitle

  .card.mb-4
    .card-header Effectuer une capture d'écran
    .card-body
      p.card-text Le bouton ci-dessous vous permet de prendre une capture d'écran de l'affichage actuel de recalbox.
      p.card-text Le résultat sera sauvegardé dans le dossier %s.
      p
        a.btn.btn-success(role="button" href=(urlpath "screenshots_take")) Faire une capture

  .card-columns
    each _ in .Images
      .card
        img.card-img-top(
          src=(print "//" $.Hostname ":" $.Port "/screenshots/viewer/" .)
          alt=.
        )
        button.btn.btn-danger.btn-sm.btn-delete-screenshot(
          data-toggle="modal"
          data-target="#deleteModal"
          data-href=(print "//" $.Hostname ":" $.Port "/screenshots/delete/" .)
          data-name=.
        )
          i.fas.fa-trash-alt.fa-sm

  #deleteModal.modal.fade(
    tabindex="-1" role="dialog"
    aria-labelledby="deleteModal" aria-hidden="true"
  )
    .modal-dialog.modal-dialog-centered(role="document")
      .modal-content
        .modal-header
          h5.modal-title Attention
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body(data-message="Voulez-vous vraiment supprimer %s ?")
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Non
          a.btn.btn-warning(role="button" href="#" data-href="") Oui
