li.nav-item.dropdown
  a#languageMenuLink.nav-link.dropdown-toggle(
    href="#"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  )
    i.fas.fa-language.fa-lg
    |  {{ .CurrentLang }}

  .dropdown-menu(aria-labelledby="languageMenuLink")
    each _ in .AvailableLang
      a.dropdown-item(href=(printf "%v?lang=%v" (urlpath "home") .Locale))
        | {{ .Name }}
