doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= .Title
    link(rel="stylesheet" href="./css/bootstrap.min.css")
    link(rel="stylesheet" href="./css/style.css")
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.bg-dark
        a.navbar-brand(href="#") {{ .RecalboxManagerTitle }}

        button.navbar-toggler(
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        )
          span.navbar-toggler-icon

        #navbarCollapse.collapse.navbar-collapse
          .navbar-nav.mr-auto
            li.nav-item.dropdown
              a#languageMenuLink.nav-link.dropdown-toggle(
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              ) {{ .CurrentLang }}

              .dropdown-menu(aria-labelledby="languageMenuLink")
                {{range $locale, $_ := .AvailableLang}}
                  {{ $url := (printf "/?lang=%v" $locale) }}
                  a.dropdown-item(href={{$url}})= $locale
                {{end}}

          .navbar-nav
            {{range $entry := .MenuEntries}}
              li.nav-item
                a.nav-link(href={{$entry.Link}}) {{$entry.Label}}
            {{end}}

    main.container
      {{ yield }}

    footer.footer
      .container
        span.text-muted Hello World!

    script(src="./js/jquery-3.3.1.min.js")
    script(src="./js/bootstrap.bundle.min.js")
