doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="shortcut icon" href="/favicon.png")
    title= .RecalboxManagerTitle
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/bootstrap4-switch.css")
    link(rel="stylesheet" href="/css/fa-svg-with-js.css")
    link(rel="stylesheet" href="/css/dropzone.min.css")
    link(rel="stylesheet" href="/css/style.css")
  body
    header
      nav.navbar.navbar-expand-xl.navbar-dark.fixed-top.bg-dark
        {{ $url := urlpath "home" }}
        a.navbar-brand(href={{$url}}) {{ .RecalboxManagerTitle }}

        button.navbar-toggler(
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        )
          span.navbar-toggler-icon

        #navbarCollapse.collapse.navbar-collapse
          .navbar-nav.mr-auto
            li.nav-item.dropdown
              a#languageMenuLink.nav-link.dropdown-toggle(
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              ) {{ .CurrentLang }}

              .dropdown-menu(aria-labelledby="languageMenuLink")
                {{range $locale, $name := .AvailableLang}}
                  {{ $url := (printf "%v?lang=%v" (urlpath "home") $locale) }}
                  a.dropdown-item(href={{$url}})= $name
                {{end}}

          .navbar-nav
            {{range .MenuEntries}}
              {{ $glyph := printf "fas fa-%v fa-sm" .Glyph }}
              li.nav-item(class={{.ActiveClass}})
                if .Children
                  li.nav-item.dropdown
                    a#helpMenuLink.nav-link.dropdown-toggle(
                      href="#"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    )
                      i(class={{$glyph}})
                      {{.Label}}

                    .dropdown-menu(aria-labelledby="helpMenuLink")
                      {{range .Children}}
                        {{ $glyph := printf "fas fa-%v fa-sm" .Glyph }}
                        a.dropdown-item(href={{.Link}})
                          i(class={{$glyph}})
                          {{.Label}}
                      {{end}}
                else
                  a.nav-link(href={{.Link}})
                    i(class={{$glyph}})
                    {{.Label}}
            {{end}}

    main.container
      {{ yield }}

    footer.footer
      nav.navbar.navbar-light.bg-light
        span.navbar-text
          em {{ .AppVersion }} alpha

    script(src="./js/jquery-3.3.1.min.js")
    script(src="./js/bootstrap.bundle.min.js")
    script(src="./js/fontawesome.min.js")
    script(src="./js/fa-solid.min.js")
    script(src="./js/dropzone.min.js")
    script(src="./js/app.js")
