form(method="post" action=(urlpath "audio_form"))
  .card.mb-4
    .card-header {{ .Tr.BgMusic }}
    .card-body
      .alert.alert-warning(role="alert")
        i.fas.fa-exclamation-triangle.fa-sm
        |  {{ .Tr.Warning }}
      span.switch
        input#audio-bgmusic.switch(
          type="checkbox"
          name="audio-bgmusic"
          value="1"
        )
        label(for="audio-bgmusic")

  .card.mb-4
    .card-header {{ .Tr.VolumeTitle }}
    .card-body
      input#audio-volume.custom-range(
        type="range" name="audio-volume"
        min="0" max="100" step="1"
      )

  .card.mb-4
    .card-header {{ .Tr.DeviceTitle }}
    .card-body
      .form-group
        select#audio-device.form-control(name="audio-device")
          option(value="") –
          each _ in .Tr.DevicesList
            option(value=.Value) {{ .Label }}

  button.btn.btn-success(type="submit") {{ .Tr.BtnSave }}
